google_generativeai 
google-ai-generativelangauage
langchain_core
langchain-google-genai 
langchain_experimental
langchain
langchain-google-genai
sentence-transformers
faiss-cpu
unstructured
html5lib
python-docx
transformers
torch
huggingface-hub
langchain-community
tqdm
numpy
requests
pickle5
