google-generativeai
langchain
langchain-core
langchain-google-genai
langchain-experimental
langchain-community
sentence-transformers
faiss-cpu
unstructured
html5lib
python-docx
transformers
torch
huggingface-hub
tqdm
python-dotenv
numpy
requests
streamlit
